# Python Einführung
## Unterüberschrift

*kursiv* **fett**
- Punkt 1
- Punkt 2

1.1 Erste Anweisung

In [1]:
print("Hello world!")

Hello world!

1.2 Kommentare

In [3]:
# Das ist ein Kommentar
'''
mehrzeiliger Kommentar
sdfkl
kldoe
klkpo
'''
print("something")

something

1.3 Einfache Datentypen

In [4]:
# Variable und Wertzuweisung
name = "Lovelace"
print(name)

Lovelace

In [6]:
# String - Zeichenkette
first_name = "Ada"
first_name

'Ada'

In [7]:
# Integer - Ganzzahl
age = 73
print(age)

73

In [8]:
# Float - Gleitkommazahl
size = 1.7123
print(size)

1.7123

In [9]:
knows_math = True
print(knows_math)

True

In [10]:
likes_slacking = False
print(likes_slacking)

False

In [11]:
type(name)

str

In [12]:
type(age)

int

In [13]:
type(size)

float

In [14]:
age_string = str(age)

In [15]:
type(age_string)

str

1.4 Operatoren

In [16]:
#Addition von Integers
5 + 5

10

In [17]:
#Multiplikation
age * 100

7300

In [18]:
name + name

'LovelaceLovelace'

In [20]:
name * 3

'LovelaceLovelaceLovelace'

In [22]:
name + "10"

'Lovelace10'

In [23]:
# Division
size / age

0.023456164383561642

1.5 Funktionen und Methoden

In [26]:
print(name)
len(name)

Lovelace

8

In [27]:
name.upper()

'LOVELACE'

In [28]:
print(name)

Lovelace

In [79]:
name_upper_case = name.upper()

In [30]:
name.count("e")

2

In [31]:
name.replace("lace", " is everywhere")

'Love is everywhere'

In [32]:
another_name ="peter"

In [33]:
another_name = another_name.upper()

In [34]:
print(another_name)

PETER

1.6 Listen und Dictionaries

In [35]:
# Liste
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [36]:
names[2]

'Curie'

In [37]:
names[0]

'Lovelace'

In [38]:
names[-1]

'Hawking'

In [39]:
names[0:3]

['Lovelace', 'Darwin', 'Curie']

In [40]:
name[-1]

'e'

In [41]:
# Slicing
names[:2]

['Lovelace', 'Darwin']

In [42]:
names[2:]

['Curie', 'Hawking']

In [44]:
# Dictionaries
authors_and_birth_years = {"Lovelace": 1882,
                           "Darwin": 1809,
                           "Noether": 1882,
                          "Hawking": 1942}

In [46]:
  authors_and_birth_years ["Darwin"]

1809

In [48]:
type(authors_and_birth_years)

dict

In [49]:
type(names)

list

In [50]:
name.upper

In [51]:
name.upper()

'LOVELACE'

# 2 FOR-Schleife

In [54]:
for last_name in names:
    print(last_name + " did awsome stuff.")
    print("--------")

Lovelace did awsome stuff.
Darwin did awsome stuff.
Curie did awsome stuff.
Hawking did awsome stuff.
--------

In [55]:
authors_and_birth_years.keys()

dict_keys(['Lovelace', 'Darwin', 'Noether', 'Hawking'])

In [59]:
for authors in authors_and_birth_years.keys():
    print(authors)

Lovelace
Darwin
Noether
Hawking

In [61]:
for key, value in authors_and_birth_years.items():
    print(key, value)

Lovelace 1882
Darwin 2000
Noether 1882
Hawking 1942

In [62]:
for value in authors_and_birth_years.values():
    print(value)

1882
2000
1882
1942

2.1 Bedingte Anweisungen (Conditionals)

In [63]:
temp = 20
if temp > 15:
    print("It's warm")

It's warm

In [64]:
20 > 15

True

In [66]:
temp = 10
if temp > 15:
    print("It's warm")
else: 
    print("It's cold")

It's cold

In [67]:
temp = 35
if temp > 25:
    print("It's hot")
elif temp > 15:
     print("It's warm")   
else: 
    print("It's cold")

It's hot

In [71]:
temp = 28
if temp > 25  < 30:
    print ("It's moderate")

It's moderate

In [74]:
temp = 28
if (temp > 25 and temp < 30):
    print ("Hallo")

Hallo

In [75]:
temp = 28
if 25 < temp < 30:
        print("aha")

aha